<h1>Organisations</h1>

<% if @organisations.any? %>
  <p>You are part of the following organisations: </p>
  <% @organisations.each do |organisation| %>
    <p><%= organisation.name %></p>
  <% end %>
<% else %>
  <p>You are not currently assigned to an organisation.</p>
<% end %>
