<h1>Organisations</h1>

<% if @organisation %>
  <p>You are part of the following organisation: <%= @organisation.name %></p>
<% else %>
  <p>You are not currently assigned to an organisation.</p>
<% end %>
