<h1>Organisation</h1>

<% if @organisation %>
    <p>Name: <%= @organisation.name %></p>
    <% if @organisation.language %>
        <p>Language: <%= @organisation.language %></p>
    <% end %>
    <% if @organisation.country %>
        <p>Country: <%= @organisation.country %></p>
    <% end %>
    <%= link_to "Back", organisations_path %>
<% else %>
    <p>You are not part of any organisation.</p>
<% end %>
