<h1>Edit Post for <%= @organisation.name %></h1>
<p>Author: <%= Current.user.email_address %></p>

<%= render "form", organisation: @organisation, post: @post %>

<%= link_to "Cancel", organisation_posts_path(@organisation) %>